body{
	background: #e6e9f0;
	color: #e9f2ff;
}
header {
		/* background: #e73131; */
		background-image: linear-gradient(to right top, #8c0a0a, #a21a17, #b92724, #d03432, #e74040);
}

footer {
	background-image: linear-gradient(to right top, #8c0a0a, #a21a17, #b92724, #d03432, #e74040);
}

.current-antrian {
	background: #ffc5c5;
    color: #22242e;
}

.current-antrian-title, .current-antrian-tujuan {
	font-weight: bold;
}

.box-antrian-body {
	background: #000;
	color: #c32c2a;
}

.box-antrian-header {
	background: #ffa0a0;
    border-bottom: 1px solid #f58a8a;
    color: #241e36;
    font-weight: 400;
}

.ambil-antrian {
	background: #e97575;
}