body{
	background: #e6e9f0;
	color: #e9f2ff;
}
header {
	background: #1976d2;
}

footer {
    background: #1976d2;
}

.current-antrian {
	background: #abd5ff;
    color: #22242e;
}

.current-antrian-title, .current-antrian-tujuan {
	font-weight: bold;
}

.box-antrian-body {
	background: #abd5ff;
    color: #241e36;
}

.box-antrian-header {
	background: #8fc7ff;
    border-bottom: 1px solid #73b2f1;
    color: #241e36;
    font-weight: 400;
}

.ambil-antrian {
	background: #3c95ff;
}
